<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク更新</title>
</head>

<header th:replace="~{header}"></header>
<hr>

<body>
	<main>
		<h1>タスク更新</h1>
		<form th:action="@{/tasks/{taskId}/edit(taskId=${task.taskId})}" method="post">
			<table border="1">
				<tr>
					<th>カテゴリー</th>
					<td>
						<input type="radio" name="categoryId" th:field="${task.categoryId}" value="2" checked>日常
						<input type="radio" name="categoryId" th:field="${task.categoryId}" value="1">仕事
					</td>
				</tr>
				<tr>
					<th>タイトル</th>
					<td>
						<input type="text" name="title" th:value="${task.title}">
					</td>
				</tr>
				<tr>
					<th>タ進捗状況</th>
					<td>
						<input type="radio" name="progress" th:field="${task.progress}" value="0" checked>未着手
						<input type="radio" name="progress" th:field="${task.progress}" value="1">進行中
						<input type="radio" name="progress" th:field="${task.progress}" value="2">完了
					</td>
				</tr>
				<tr>
					<th>タスク開始日</th>
					<td>
						<input type="date" name="date"
							th:value="${task.date != null ? #temporals.format(task.date, 'yyyy-MM-dd') : ''}">
					</td>
				</tr>
				<tr>
					<th>期限</th>
					<td>
						<input type="date" name="closingDate"
							th:value="${task.closingDate != null ? #temporals.format(task.closingDate, 'yyyy-MM-dd') : ''}">
					</td>
				</tr>
				<tr>
					<th>予定所要時間</th>
					<td>
						<label><input type="number" name="time" th:value="${task.time}">分</label>
					</td>
				</tr>
				<tr>
					<th>メモ</th>
					<td>
						<textarea name="memo" style="width:200px; height:80px;" th:text="${task.memo}"></textarea>
					</td>
				</tr>
			</table>
			<button>更新</button>
			<th:block th:if="${errorList}">
				<p th:each="error:${errorList}" th:text="${error}" style="color: red;"></p>
			</th:block>
		</form>
	</main>
</body>

</html>